$margin: 125px;

.home .cheat-sheet {
  display: flex;
  margin-left: $margin;
  position: relative;

  .cheat-sheet-title {
    left: $margin * -1;
    position: absolute;
    text-align: right;
    width: $margin;

    h2 {
      margin: 0;

      &::after {
        content: ":";
      }
    }
  }

  .cheat-sheet-entry-type {
    margin-top: rem(8px);
  }
}