/*!
  _________.__                .___            .__        ___.
 /   _____/|  |__ _____     __| _/______  _  _|  | _____ \_ |__
 \_____  \ |  |  \\__  \   / __ |/  _ \ \/ \/ /  | \__  \ | __ \
 /        \|   Y  \/ __ \_/ /_/ (  <_> )     /|  |__/ __ \| \_\ \
/_______  /|___|  (____  /\____ |\____/ \/\_/ |____(____  /___  /
        \/      \/     \/      \/                       \/    \/
*/
.visually-hidden, .screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}

.visually-hidden:focus,
.visually-hidden:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: url("images/background-light.jpg") top left;
  font: 1.125rem/1.15 "Droid Sans", sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

a:link, a:visited {
  color: #95116f;
}

a:active, a:focus, a:hover {
  color: #1c5f66;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 97%;
}

svg {
  color: #121212;
}

#banner {
  background: #121212;
  margin-bottom: 8rem;
  position: relative;
  width: 100%;
}

#banner::after {
  background: url("images/footer-background-tear.png") top left repeat-x;
  content: '';
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#banner .container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

#banner svg {
  color: #ffffff;
}

.site-title-link {
  text-decoration: none;
}

#site-title {
  color: #ffffff;
  display: block;
  font-family: "Iceland", sans-serif;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding: 1.25rem 0;
}

#site-navigation {
  align-items: flex-start;
  display: flex;
  position: absolute;
  right: -250px;
  top: 30px;
  transition: right 300ms ease-in-out;
}

#site-navigation.menu-open {
  right: 0;
}

#site-navigation.menu-open #main-menu {
  min-height: 21.875rem;
}

#site-navigation #main-menu {
  background-color: #121212;
  position: relative;
  width: 250px;
}

#site-navigation #main-menu::after {
  background: url("images/footer-background-tear.png") top left repeat-x;
  content: '';
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#site-navigation #main-menu .menu {
  position: relative;
  z-index: 10;
}

#site-navigation #main-menu .item a {
  color: #ffffff;
  display: block;
  outline: none;
  padding: 0.4375rem 0.3125rem 0.4375rem 1.25rem;
  position: relative;
  text-decoration: none;
}

#site-navigation #main-menu .item a:active, #site-navigation #main-menu .item a:focus, #site-navigation #main-menu .item a:hover {
  background-color: #383838;
}

#site-navigation #main-menu .item a svg {
  font-size: 75%;
  left: 6px;
  position: absolute;
  top: 11px;
}

#site-navigation #main-menu .item.clicked {
  background-color: #383838;
}

#site-navigation #main-menu .item.clicked .submenu {
  display: block;
}

#site-navigation #main-menu .submenu {
  display: none;
}

#site-navigation #main-menu .submenu .item a {
  padding-left: 25px;
  background: #383838;
}

#site-navigation #main-menu .submenu .item a:active, #site-navigation #main-menu .submenu .item a:focus, #site-navigation #main-menu .submenu .item a:hover {
  background-color: #525252;
}

#content {
  margin-top: 100px;
}

#entry-title {
  font-family: "Iceland", sans-serif;
  font-size: 175%;
  font-weight: normal;
}

.cheat-sheet {
  display: flex;
  margin-left: 125px;
  position: relative;
}

.cheat-sheet .cheat-sheet-title {
  left: -125px;
  position: absolute;
  text-align: right;
  width: 125px;
}

.cheat-sheet .cheat-sheet-title h2 {
  margin: 0;
}

.cheat-sheet .cheat-sheet-title h2::after {
  content: ":";
}

.cheat-sheet .cheat-sheet-entry-type {
  margin-top: 0.5rem;
}

table {
  background-color: #ffffff;
  border: 1px solid #121212;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: 0.46875rem;
  text-align: left;
  vertical-align: top;
}

th.field, td.field {
  width: 5%;
}

th.field-numeric, td.field-numeric {
  text-align: right;
}

thead th {
  background-color: #5ac6d1;
  border-bottom: 1px solid #121212;
  vertical-align: bottom;
}

tbody:not(:last-of-type) {
  border-bottom: 1px solid #121212;
}

tbody:not(.clicked) tr.body-row {
  display: none;
}

.reference {
  margin-bottom: 0;
  text-align: right;
}

#footer {
  font-size: 90%;
  margin-top: 5rem;
}

/*!
 * WP Core CSS
 * ===========
 * Use with _mixins.scss imported prior to this file
 */
.alignnone {
  margin: 0 1.25rem 1.25rem 0;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0.3125rem auto;
}

.alignright {
  float: right;
  margin: 0.3125rem 0 1.25rem 1.25rem;
}

.alignleft {
  float: left;
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.alignright {
  float: right;
  margin: 0.3125rem 0 1.25rem 20px;
}

a img.alignnone {
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 0.3125rem 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.3125rem 0 1.25rem 1.25rem;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 0.6875rem;
  line-height: 1.0625rem;
  margin: 0;
  padding: 0 0.25rem 0.3125rem;
}

/*# sourceMappingURL=dashifen.css.map */
