$serifFont:     "Droid Serif", serif;
$sansSerifFont: "Droid Sans", sans-serif;
$headerFont:    "Iceland", sans-serif;

$black:     #121212;
$white:     #ffffff;
$gray:      #808080;
$hover:     #5ac6d1;
$highlight: #95116f;