@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//noinspection CssOverwrittenProperties

@mixin fontSize($size) {
  font-size: $size;
  font-size: rem($size);
}

@mixin atFullSize {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin onWideScreens {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin onScreens {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin onTablets {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin adminBarBreakpoint {
  @media only screen and (max-width: 782px) {
    @content;
  }
}

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}

%visually-hidden-with-focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.visually-hidden {
  @extend %visually-hidden;
}

.visually-hidden:focus,
.visually-hidden:active {
  @extend %visually-hidden-with-focus;
}