#banner {
  background: $black;
  position: relative;
  width: 100%;

  &::after {
    background: url("images/footer-background-tear.png") top left repeat-x;
    content: '';
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .container {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  svg {
    color: $white;
  }
}

#site-title {
  color: $white;
  font-family: $headerFont;
  font-size: 200%;
  margin: 0;
  padding: rem(20px) 0;
}